@using OnlineStore.Interfaces;
@using OnlineStore.Entities; 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService userService
@inject ICategoryRepository categoryReposity
@inject IShoppingCartRepository shoppingCartRepository

@{
    var currentUserId = userService.GetUserId();
    List<ShoppingCart> shoppingCart = new List<ShoppingCart>();
    if (!string.IsNullOrEmpty(currentUserId))
    {
        shoppingCart = shoppingCartRepository.GetByClientId(currentUserId);
    }
    var categories = categoryReposity.GetAll().Where(x => x.IsActive.GetValueOrDefault() && !x.IsDeleted.GetValueOrDefault()).ToList();
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
<!-- header-area -->
<header class="header-style-two header-style-three">

    <!-- header-top -->
    <div class="header-top-area">
        <div class="custom-container-two">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="header-top-right">
                        <ul>

                            <li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a href="#"><i class="flaticon-user"></i>@userService.GetFullName()</a>
                                }
                                else
                                {
                                    <a asp-action="Register" asp-controller="Account"><i class="flaticon-user"></i>Register</a>
                                    <span>or</span>
                                    <a asp-action="Login" asp-controller="Account">Sign in</a>
                                }

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top-end -->
    <!-- menu-area -->
    <div id="sticky-header" class="main-header menu-area">
        <div class="custom-container-two">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home"><img src="~/front/img/logo/logo_red.png" alt="Logo"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    @if (controller == "home")
                                    {
                                        <li class="active dropdown">
                                            <a href="#">Home</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="dropdown">
                                            <a href="#">Home</a>
                                        </li>
                                    }

                                    @if (controller == "aboutus")
                                    {
                                        <li class="aktive"><a asp-action="Index" asp-controller="AboutUs">About Us</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="Index" asp-controller="AboutUs">About Us</a></li>
                                    }

                                    @if (controller == "contact")
                                    {
                                        <li class="aktive"><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                                    }
                                    
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-shop-cart">
                                        <a asp-action="Index" asp-controller="ShoppingCart">
                                            <i class="flaticon-shopping-bag"></i>
                                            @if (shoppingCart.Any())
                                            {
                                                <span class="cart-count">@shoppingCart.Count</span>
                                            }
                                        </a>
                                        @if (shoppingCart.Any())
                                        {
                                    <ul class="minicart">
                                        @foreach (var item in shoppingCart)
                                        {
                                            <li class="d-flex align-items-start product-item-@item.ProductId" >
                                                <div class="cart-img">
                                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">
                                                        @if (item.Product?.ProductUpload?.FirstOrDefault(x => x.IsThumbnail) != null)
                                                        {
                                                            <img src="@item.Product?.ProductUpload?.FirstOrDefault(x => x.IsThumbnail).Path.Replace("~","")" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img src="/uploads/notfound/notfound.png" alt="">
                                                        }

                                                    </a>
                                                </div>
                                                <div class="cart-content">
                                                    <h4>
                                                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                                    </h4>
                                                    <div class="cart-price">
                                                        <span class="new">$@item.Product.Price</span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="javascript:void(0)">
                                                        <i class="far fa-trash-alt remove-product" data-id="@item.Id"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="total-price">
                                                <span class="f-left">Total:</span>
                                                <span class="f-right">$@shoppingCart.Sum(x=>x.Product.Price.GetValueOrDefault() * x.Quantity)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkout-link">
                                                <a asp-action="Index" asp-controller="ShoppingCart">Shopping Cart</a>
                                                <a class="red-color" asp-action="Index" asp-controller="Checkout">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                        }
                                        
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div class="menu-backdrop"></div>
                        <div class="close-btn"><i class="fas fa-times"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo">
                                <a href="index.html"><img src="~/front/img/logo/white_logo.png" alt="" title=""></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- menu-area-end -->
    <!-- header-search-area -->
    <div class="header-search-area d-none d-md-block">
        <div class="custom-container-two">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                    <div class="header-category d-none d-lg-block">
                        <a href="#" class="cat-toggle"><i class="flaticon-menu"></i>ALL CATEGORIES</a>
                        <ul class="category-menu">
                            @foreach (var item in categories)
                            {
                                <li><a asp-action="Index" asp-controller="Home" asp-route-categoryId="@item.Id"><div class="cat-menu-img"></div> @item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-end">
                        <div class="header-search-wrap">
                            <form asp-action="Search" asp-controller="Home">
                                <input type="text" name="search" placeholder="Search products...">
                                <button type="submit"><i class="flaticon-magnifying-glass-1"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-search-area-end -->

</header>
<!-- header-area-end -->