@model ProductItemViewModel
<div class="col-xl-3 col-md-4 col-sm-6">
    <div class="exclusive-item exclusive-item-three text-center mb-40">
        <div class="exclusive-item-thumb">
            <a asp-action="Details" asp-controller="Product" asp-route-id="@Model.Id">
                <img src="@Model.Path" alt="">
                <img class="overlay-product-thumb" src="@Model.Path" alt="">
            </a>
            <ul class="action">
                <li><a asp-action="Details" asp-controller="Product" asp-route-id="@Model.Id"><i class="flaticon-witness"></i></a></li>
                <li><a class="add-to-cart" data-id="@Model.Id" href="javascript:void(0)"><i class="flaticon-supermarket"></i></a></li>
                
            </ul>
        </div>
        <div class="exclusive-item-content">
            <h5><a asp-action="Details" asp-controller="Product" asp-route-id="@Model.Id">@Model.Name</a></h5>
            <div class="exclusive--item--price">
                <span class="new-price">$@Model.Price</span>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>